<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<bean class="com.springcore.Student" name="student1">
		<property name="studentId" value="23423" />


		<property name="studentName" value="santanu kumar" />


		<property name="studentAddress" value="jharkhand" />


	</bean>
	<bean class="com.springcore.Student" name="student2">

		<property name="studentId" value="435" />

		<property name="studentName" value="saurab" />

		<property name="studentAddress" value="jharkhand" />


	</bean>




	<bean class="com.springcore.Student" name="student3"
		p:studentId="2342" p:studentName="vini" p:studentAddress="gurio" />


	<bean class="com.springcore.Student" name="student4">
		<property name="studentId">
			<value>13444</value>
		</property>
		
		<property name="studentName">
			<value>kartik</value>
		</property>

	</bean>


</beans>